/* Header */
header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}
#home header {
    background: no-repeat lightgrey url(images/cliff_ocean.jpg);
    background-size: 1500px;
}
#activities header {
    background: no-repeat lightgrey url(images/runfly.jpg);
    background-size: 1500px;
}
#contact header {
    background: no-repeat lightgrey url(images/cliff_rock.jpg);
    background-size: 1500px;
}
#cliffs header {
    background: no-repeat lightgrey url(images/forest_cliff.jpg);
    background-size: 1500px;
}
.main-header {
    background-color: rgb(255, 255, 255, 0.8);
    width: 700px;
    margin: 2em auto 0 auto;
    min-height: 100px;
    height: 100px;
}
.main-header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 2em 0 0;
    float: left;
}

/* Navigation */
.main-menu {
    margin-left: 210px;
    font-weight: 400;
}
.main-menu ul li {
    list-style-type: none;
    display: inline;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
}
.main-menu ul li a {
    text-decoration: none;
    color: #888;
}
.main-menu ul li a:hover {
    color: #9ed034;
}
.main-menu ul li.active {
    background: #9ed034;
    border: none;
}
.main-menu ul li.active a {
    color: #fff;
}

#timeofday {
    background: rgb(251,215,139);
    background: linear-gradient(180deg, rgba(118,213,245,1) 25%, rgba(251,215,139,1) 100%);
    padding: 25px;
    text-align: center;
    color: #3a3a3a
    }

#clock {
    color: #125688;
}

/* Main */
main {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
}
main h1 {
    color: #9ed034;
}

.Greatest-cliffs {
display: flex;
flex-direction: column wrap;
flex-wrap: wrap;
justify-content: space-around;
font-weight: 600;
width: 100%;
}
.Cliffs {
    display: inline-block;
    width: 45%;
}
.Greatest-cliffs label {
    color: white;
    background-color: maroon;
    width: 100%;
    text-align: center;
    padding: 10px 0 10px 0;
    font-size: 12px;
}
.Greatest-cliffs img {
    width: 100%;
    padding-bottom: 25px;
}

/* Partners */
#partners {
    background-color: #4288C3;
    width: 1200px;
    padding: 2em 0 2em 0;
    margin: 0 auto;
    text-align: center;
}
#partners .partner {
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
}
#partners .partner img {
    width: 90px;
    height: 90px;
}
/* footer */
footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    background-color: #ecfab8;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
}
footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}
footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}

/* Activities */
table {
    width: 1000px;
    margin: 4em auto 0 auto;
}
caption {
    background: #852B1B;
    height: 40px;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
}
thead {
    background: #BDE1FF;
}
tbody {
    background: #EEFFE6;
    text-align: center;
}
th, td {
    width: 225px;
    height: 75px;
    vertical-align: middle;
    border: solid 1px #852B1B;
}
th:first-child {
    width: 125px;
    height: 50px;
    background: #4977D1;
    color: #fff;
}
td:first-child {
    font-weight: bold;
    background: #BDE1FF;
}

/* Contact */
.phone span:first-child {
    font-weight: 600;
}
.email span:first-child {
    font-weight: 600;
}
.phone {
    padding-bottom: 10px;
}
.contactinfo {
    padding: 5px 0 20px;
}
fieldset {
    border: 1px solid #9ed034;
}
legend {
    color: #4977D1;
    font-weight: 600;
    text-transform: uppercase;
}
label {
    display: block;
    margin: 15px 0 0 0;
    font-weight: 600;
}
input {
    width: 500px;
}
input[type="radio"] {
    width: 25px;
}
textarea {
    width: 500px;
    height: 150px;
}
select {
    width: 150px;
    text-align: center;
    font-weight: 600;
}
input[type="submit"] {
    display: block;
    /*background-color: #4977D1;*/
    color: #fff;
    margin: 15px 405px 10px;
    width: 100px;
    padding: 5px;
}